<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>
    <CopyOutputSymbolsToPublishDirectory>false</CopyOutputSymbolsToPublishDirectory>
    <DebugType>none</DebugType>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\artifacts\RssReader-single-exe\</PublishDir>
  </PropertyGroup>
  <Target Name="RemovePublishSymbolsFromSingleExe" AfterTargets="Publish">
    <ItemGroup>
      <_SingleExePublishSymbols Include="$(PublishDir)**\*.pdb" />
    </ItemGroup>
    <Delete Files="@(_SingleExePublishSymbols)" />
  </Target>
</Project>
